.navButton {
  position: relative;
  font-size: 0.875rem;
  padding: 0.375rem 1.25rem;
  border-radius: 9999px;
  transition: all 0.3s ease;
  font-weight: 500;
  color: hsl(var(--muted-foreground));
  background: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    color: hsl(var(--foreground));
    box-shadow: 0px 8px 12px -4px rgba(0, 0, 0, 0.1);
    transform: translateY(-1px);
  }

  &.active {
    background: white;
    color: hsl(var(--foreground));
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  }
}
